.pagination__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.page-button__container {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 2rem;
}

.page-button__container button {
    color: #FBBF29;
    font-weight: 700;
    border: none;
    padding: 15px 32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}