.form__container {
    margin: 10px auto 0 90px;
}

.searchbox__container{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }